h2{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: rgb(141, 126, 126);
}
blockquote{
    font-weight: 300;
}
body{
    background-color: #f2f2f2;

}
.contenido{
    font-family: 'Merriweather', serif;
    color: black;
    text-align: center;
    padding: 40px;
    position: absolute;
}
.container{
    position: absolute;
    height: 400px;
    width: 600px;
    background: #f2f2f2;
    border-radius: 18px;
    box-shadow: 0 0 20px #d0d0d0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}